//
   Created by mor on 8/05/16.

#roll.col-sm-4(hidden)
    .panel.panel-primary
        .panel-heading="Tirada"
            span#roll-button.glyphicon.glyphicon-check.formatted-span-button.left-align
            span#roll-closer.glyphicon.glyphicon-remove.formatted-span-button.right-align
        .panel.body
            #roll-options(hidden)
                .action-description
                    label="Describe la acción del personaje"
                    input(type="text")
                .stat-select
                    label="Escoge una estadística"
                    select
                .stat-select
                    label="Escoge una estadística"
                    select
                #action-dif
                    label="Dificultad"
                    input(type="number", min="1", max="11", value="6")
                input#next.btn.btn-danger.btn-lg.right-align(type="button", value="Siguiente")

            #roll-result(hidden)
                table
                    thead: th="Resultados"
                    tbody
