// Vista de la pantalla de escoger partida
   Created by mor on 4/05/16.
extends layout

block content
    .container.col-sm-8
        .panel.panel-primary
            .panel-heading.text-center=d_title
                a.left-align(href = "/login/"+user.name+"/new")
                    span.glyphicon.glyphicon-plus.white
                a.right-align(href = "/")
                    span.glyphicon.glyphicon-home.white
            .panel-body
                case error
                    when 1
                        #bad-username.alert.alert-danger
                            p.text-center="La partida no existe."
                    when 2
                        #bad-username.alert.alert-danger
                            p.text-center="Debes escoger una partida."
                br
                form(role="form", method="POST")
                    input(hidden, name="user", value=user)
                    .form-group.col-sm-6
                        span.input-group-addon.text-center="Selecciona la partida"
                        select.form-control(name="name")
                            each game in games
                                option=game.name
                    .form-group.col-sm-4
                        span.icon-input-btn
                            input.btn.btn-danger.btn-lg(type="submit", value="Jugar")
                #img
