// Vista de la pantalla de crear usuario
   Created by mor on 4/05/16.
extends layout

block content
    .container.col-sm-6
        .panel.panel-primary
            .panel-heading=d_title
                a.right-align(href = "/")
                    span.glyphicon.glyphicon-home.white
            .panel-body
                case error
                    when 1
                        #bad-credentials.alert.alert-danger(hidden)
                            p="Error al recuperar las credenciales"
                    when 2
                        #bad-username.alert.alert-danger(hidden)
                            p="El usuario ya existe."
                    when 3
                        #bad-passwd.alert.alert-danger(hidden)
                            p="Las contraseñas no coinciden."
                br
                form(role="form", method="POST")
                    .form-group
                        span.input-group-addon="Usuario"
                        input.form-control(type="text", name="name", placeholder="usuario")
                    .form-group
                        span.input-group-addon="Contraseña"
                        input.form-control(type="text", name="passwd", placeholder="contraseña")
                        input.form-control(type="text", name="passwd", placeholder="repite")
                    .form-group
                        span.icon-input-btn
                            input.btn.btn-default(type="submit", value="Crear")

