//
   Created by mor on 10/05/16.

#create.container.col-sm-10.overlay
    .panel.panel-primary
        .panel-heading.text-center="Datos generales"
        .panel-body
            //form(role="form")
            .form-group.col-sm-4
                span.input-group-addon.text-center="Nombre del personaje"
                input.form-control(type="text", id="name", placeholder="nombre...")
            .form-group.col-sm-4
                span.input-group-addon.text-center="Naturaleza"
                input.form-control(type="text", id="nature", placeholder="naturaleza...")
            .form-group.col-sm-4
                span.input-group-addon.text-center="Conducta"
                input.form-control(type="text", id="conduct", placeholder="conducta...")
            .form-group.col-sm-4
                span.input-group-addon.text-center="Clan"
                select.form-control(id="clan")
                    each clan in clans
                        option=clan
            .form-group.col-sm-4
                span.input-group-addon.text-center="Generación"
                input.form-control(type="number", id="generation", min="4", max="14", value="13")
            .form-group.col-sm-4
                span.input-group-addon.text-center="Refugio"
                input.form-control(type="text", id="home", placeholder="refugio...")
            .form-group.col-sm-4
                span.input-group-addon.text-center="Concepto"
                input.form-control(type="text", id="concept", placeholder="concepto...")
            .form-group.col-sm-4
                span.icon-input-btn
                    input.btn.btn-danger.btn-lg(type="button", id="next", value="Continuar")