// Vista de la pantalla de crear usuario
   Created by mor on 4/05/16.
extends layout

block content
    .container.col-sm-4
        .panel.panel-primary
            .panel-heading.text-center=d_title
                a.right-align(href = "/")
                    span.glyphicon.glyphicon-arrow-left.white
            .panel-body
                case error
                    when 1
                        #bad-credentials.alert.alert-danger
                            p.text-center="Error al recuperar las credenciales"
                    when 2
                        #bad-username.alert.alert-danger
                            p.text-center="El usuario ya existe."
                    when 3
                        #bad-username.alert.alert-danger
                            p.text-center="Debes rellenar todos los campos."
                    when 4
                        #bad-passwd.alert.alert-danger
                            p.text-center="Ambos campos de contraseña deben coincidir."
                br
                form(role="form", method="POST")
                    .form-group
                        span.input-group-addon.text-center="Nombre del nuevo usuario"
                        input.form-control(type="text", name="name", placeholder="nombre...")
                    .form-group
                        span.input-group-addon.text-center="Contraseña (repítela 2 veces por seguridad)"
                        input.form-control(type="password", name="passwd", placeholder="contraseña...")
                        input.form-control(type="password", name="passwd", placeholder="repite...")
                    .form-group
                        span.icon-input-btn
                            input.btn.btn-danger(type="submit", value="Crear")

