//
   Created by mor on 11/05/2016.

form(role="form")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Dominio"
        textarea.form-control.mandatory(id="domain", placeholder="descripción...")="caja de cartón"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Contactos"
        textarea.form-control.mandatory(id="contacts", placeholder="descripción...")="el camello del barrio"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Rebaño"
        textarea.form-control.mandatory(id="herd", placeholder="descripción...")="4 gatos"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Influencia"
        textarea.form-control.mandatory(id="influence", placeholder="descripción")="poca o nada"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Mentor"
        textarea.form-control.mandatory(id="mentor", placeholder="descripción...")="la vida misma"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Aliados"
        textarea.form-control.mandatory(id="allies", placeholder="descripción...")="nadie"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Recursos"
        textarea.form-control.mandatory(id="resources", placeholder="descripción...")="algo de suelto para tabaco"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Criados"
        textarea.form-control.mandatory(id="servants", placeholder="descripción...")="comadrejas"