//
   Created by mor on 11/05/2016.

form(role="form")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Edad (real)"
        input#real-age.form-control.mandatory(type="number", min="1", placeholder="edad...", value="150")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Edad (aparente)"
        input#supposed-age.form-control.mandatory(type="number", min="1", placeholder="edad...", value="45")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Pelo"
        input#hair.form-control.mandatory(type="text", placeholder="descripci칩n...", value="grasiento")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Ojos"
        input#eyes.form-control.mandatory(type="text", placeholder="descripci칩n...", value="marrones y con lega침as")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Nacionalidad"
        input#nationality.form-control.mandatory(type="text", placeholder="descripci칩n...", value="portugordo")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Sexo"
        select#sex.form-control
            option="Otro"
            option="Mujer"
            option="Hombre"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Altura (cm)"
        input#height.form-control.mandatory(type="number", min="50", max="250", placeholder="...", value="168")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Peso (kg)"
        input#weight.form-control.mandatory(type="number", min="1", max="200", placeholder="...", value="60")