//
   Created by mor on 10/05/16.

#data.col-sm-10.overlay(hidden)
    .panel.panel-default
        .panel-heading.text-center="Datos generales"
        #general.panel-body
            #advice.alert.alert-info(hidden)
                p.text-center="Cuando acabes de rellenar la ficha, pulsa el botón 'Siguiente'."
            include general_form
    .panel.panel-default
        .panel-heading.text-center="Preferencias de estadísticas"
        #statprefs.panel-body
            include statprefs_form
    .panel.panel-default
        .panel-heading.text-center="Aspecto"
        #look.panel-body
            include look_form
    .panel.panel-default
        .panel-heading.text-center="Datos de trasfondo"
        #background.panel-body
            #emptyFields.alert.alert-danger(hidden)
                p.text-center="Debes rellenar todos los campos."
            include backgrounds_form
