//
   Created by mor on 11/05/2016.

form(role="form")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Dominio"
        textarea#domain.form-control.mandatory(placeholder="descripción...")="caja de cartón"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Contactos"
        textarea#contacts.form-control.mandatory(placeholder="descripción...")="el camello del barrio"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Rebaño"
        textarea#herd.form-control.mandatory(placeholder="descripción...")="4 gatos"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Influencia"
        textarea#influence.form-control.mandatory(placeholder="descripción")="poca o nada"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Mentor"
        textarea#mentor.form-control.mandatory(placeholder="descripción...")="la vida misma"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Aliados"
        textarea#allies.form-control.mandatory(placeholder="descripción...")="nadie"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Recursos"
        textarea#resources.form-control.mandatory(placeholder="descripción...")="algo de suelto para tabaco"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Criados"
        textarea#servants.form-control.mandatory(placeholder="descripción...")="comadrejas"
    .form-group.col-sm-4
        span.input-group-addon.text-center="Historia"
        textarea#story.form-control.mandatory(rows="6", placeholder="descripción...")="flautista en Hamelin"
    .form-group.col-sm-4
        input#next.btn.btn-danger.btn-lg.right-align(type="button", value="Siguiente")