//
   Created by mor on 11/05/2016.

form(role="form")
    .form-group.col-sm-4
        span.input-group-addon.text-center=constants.data.general.list[0]
        input#name.form-control.mandatory(type="text", placeholder="nombre...", value="pepito")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Naturaleza"
        input#nature.form-control.mandatory(type="text", placeholder="naturaleza...", value="marrano")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Conducta"
        input#demeanor.form-control.mandatory(type="text", placeholder="conducta...", value="borracho")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Clan"
        select#clan.form-control
            - counter = 0
            each clan in clans
                if counter == 0
                    option(selected)=clan
                else
                    option(selected)
    .form-group.col-sm-4
        span.input-group-addon.text-center="Generación"
        select#generation.form-control
            each gen in gens
                option=gen.name
    .form-group.col-sm-4
        span.input-group-addon.text-center="Refugio"
        input#haven.form-control.mandatory(type="text", placeholder="refugio...", value="villapepinos")
    .form-group.col-sm-4
        span.input-group-addon.text-center="Concepto"
        input#concept.form-control.mandatory(type="text", placeholder="concepto...", value="prueba")