//
   Created by mor on 11/05/2016.

form(role="form")
    .form-group.col-sm-4
        span.input-group-addon.text-center=constants.data.look.list[0]
        input#real-age.form-control.mandatory(type="number", min="1", placeholder="edad...", value="150")
    .form-group.col-sm-4
        span.input-group-addon.text-center=constants.data.look.list[1]
        input#supposed-age.form-control.mandatory(type="number", min="1", placeholder="edad...", value="45")
    .form-group.col-sm-4
        span.input-group-addon.text-center=constants.data.look.list[2]
        input#hair.form-control.mandatory(type="text", placeholder="descripci칩n...", value="grasiento")
    .form-group.col-sm-4
        span.input-group-addon.text-center=constants.data.look.list[3]
        input#eyes.form-control.mandatory(type="text", placeholder="descripci칩n...", value="marrones y con lega침as")
    .form-group.col-sm-4
        span.input-group-addon.text-center=constants.data.look.list[4]
        input#nationality.form-control.mandatory(type="text", placeholder="descripci칩n...", value="portugordo")
    .form-group.col-sm-4
        span.input-group-addon.text-center=constants.data.look.list[5]
        select#sex.form-control
            option="Otro"
            option="Mujer"
            option="Hombre"
    .form-group.col-sm-4
        span.input-group-addon.text-center=constants.data.look.list[6]
        input#height.form-control.mandatory(type="number", min="50", max="250", placeholder="cm...", value="168")
    .form-group.col-sm-4
        span.input-group-addon.text-center=constants.data.look.list[7]
        input#weight.form-control.mandatory(type="number", min="1", max="200", placeholder="kg...", value="60")